<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Hotel Alixar')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1>Servicio de los clientes</h1>

    <!-- Mostrar mensaje de éxito si existe -->
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

    <!-- Mostrar mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <!-- Muestra la lista de provincias en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID del cliente</th>
            <th>ID del servicio</th>
            <th>Fecha del servicio</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client_service : ${listClients_services}">
            <td th:text="${client_service.client_id}"></td>
            <td th:text="${client_service.service_id}"></td>
            <td th:text="${client_service.service_date}"></td>
            <td>

                <!-- Botón para editar -->
                <a th:href="@{/clients_services/edit(client_id=${client_service.client_id},service_id=${client_service.service_id})}" class="btn btn-primary btn-sm">Editar</a>

                <!-- Botón para eliminar -->
                <form th:action="@{/clients_services/delete}" method="post" class="dinline">
                    <input type="hidden" name="client_id" th:value="${client_service.client_id}"/>
                    <input type="hidden" name="service_id" th:value="${client_service.service_id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" th:onclick="|return confirm('¿Seguro que quieres eliminar este servicio del cliente?');|">
                        Borrar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para añadir una nueva provincia -->
    <a th:href="@{/clients_services/new}" class="btn btn-success mt-3">Añadir Nuevo Servicio de Cliente</a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">Volver al Inicio</a>
</main>

</body>
</html>