<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Hotel Alixar - Insertar/Actualizar Clientes - Servicios')">
</head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1 th:text="${client_service.client_id == null && client_service.service_id == null ? 'Añadir Nuevo Cliente - Servicio' : 'Editar Cliente - Servicio'}"></h1>
    <!-- Mostrar mensaje de éxito si existe -->
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

    <!-- Mostrar mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${client_service.client_id == null && client_service.service_id == null} ? @{/clients_services/insert} : @{/clients_services/update}" th:object="${client_service}" method="post" class="mt-4">
        <input type="hidden" th:field="*{client_id}" />
        <input type="hidden" th:field="*{service_id}" />

        <div class="mb-3">
            <label for="client_id" class="form-label">Cliente asignada (ID):</label>
            <input type="number" th:field="*{client_id}" id="client_id" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="service_id" class="form-label">Servicio asignada (ID):</label>
            <input type="number" th:field="*{service_id}" id="service_id" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="service_date" class="form-label">Fecha del servicio:</label>
            <input type="date" th:field="*{service_date}" id="service_date" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary" th:text="${client_service.client_id == null && client_service.service_id == null ? 'Crear' : 'Actualizar'}"></button>
    </form>

    <!-- Volver a la lista de clientes_servicios -->
    <a href="#" th:href="@{/clients_services}" class="btn btn-secondary mt-3">Volver a la Lista</a>
</main>

</body>
</html>