<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Hotel Alixar - Inicio')"></head>
<body class="d-flex flex-column h-100">

<!-- Insertar el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<!-- Contenido dinámico -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Hotel Alixar</h1>
        <p class="lead">Hotel de IES Alixar - Proyecto de Bea, Montero y Jesús</p>
        <div>
            <p>Clientes</p>
            <a class="nav-link btn btn-primary btn-sm" href="clients">Clientes</a>
            <a class="nav-link btn btn-primary btn-sm" href="clients_services">Servicios Actuales de Clientes</a>
            <hr>
            <p>Administración</p>
            <a class="nav-link btn btn-primary btn-sm" href="services">Servicios</a>
            <a class="nav-link btn btn-primary btn-sm" href="employees">Empleados</a>
            <a class="nav-link btn btn-primary btn-sm" href="rooms">Habitaciones</a>
        </div>
    </div>
</main>

<!-- Insertar el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>