<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Listado de Provincias')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1>Provinces</h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de provincias en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="province : ${listProvinces}">
            <td th:text="${province.id}"></td>
            <td th:text="${province.code}"></td>
            <td th:text="${province.name}"></td>
            <td th:text="${province.region != null ? province.regionName : 'Sin region'}"></td>

            <td>

                <!-- Botón para editar -->
                <a th:href="@{/provinces/edit(id=${province.id})}" class="btn btnprimary btn-sm">Edit</a>

                <!-- Botón para eliminar -->
                <form th:action="@{/provinces/delete}" method="post" class="dinline">
                    <input type="hidden" name="id" th:value="${province.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" th:onclick="|return confirm('Are you sure you want to delete this province?');|">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para añadir una nueva provincia -->
    <a th:href="@{/provinces/new}" class="btn btn-success mt-3">Add New Province</a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">Back to Home</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>