<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Hotel Alixar')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1>Rooms</h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de provincias en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Número de Habitación</th>
            <th>Tipo de Habitación</th>
            <th>Precio</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${listRooms}">
            <td th:text="${room.room_id}"></td>
            <td th:text="${room.room_number}"></td>
            <td th:text="${room.room_type}"></td>
            <td th:text="${room.price}"></td>
            <td>

                <!-- Botón para editar -->
                <a th:href="@{/rooms/edit(room_id=${room.room_id})}" class="btn btnprimary btn-sm">Editar</a>

                <!-- Botón para eliminar -->
                <form th:action="@{/rooms/delete}" method="post" class="dinline">
                    <input type="hidden" name="room_id" th:value="${room.room_id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" th:onclick="|return confirm('Are you sure you want to delete this province?');|">
                        Borrar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para añadir una nueva provincia -->
    <a th:href="@{/rooms/new}" class="btn btn-success mt-3">Añadir Nueva Habitación</a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">Volver al Inicio</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>